.gwt-Label {
  float: left;
  width: 50%;
}
* {
  font-family: sans-serif;
}
.sectio {
  /* page-break-inside: avoid; */
  /* color: yellowgreen; */
}
.gwt-Label2 {
  width: 100%;
  padding: 0.4em;
  font-weight: bold;
  font-size: 13.3px;
  font-family: sans-serif;

  display: block;
  background-color: rgb(240, 240, 240);
}
.divTableRow {
  display: table-row;
  border: 1px solid #fffb00;
}
.divTableCell {
  border: 1px solid #5930f0;
  display: table-cell;
  /* padding: 3px 10px; */
}
.Table {
  display: block;
}
.Row {
  display: table-row;
}
.Cell {
  display: table-cell;
}
.gwt-Label {
  float: right;
  /* width: 10%; */
}

.title {
  /* position: absolute; */
  background-color: rgb(240, 240, 240);
  width: 100%;
  padding: 0.4em;
  vertical-align: middle;
  font-weight: bold;
  height: 0.07%;

  font-size: 13.3px;
  font-family: sans-serif;
}
.tcaption-left-part {
  width: 50%;
  float: left;
  text-align: left;
  /* page-break-after: avoid; */
}

.tcaption-right-part {
  width: 50%;
  /* page-break-after: avoid; */
  float: right;
  text-align: right;
}

td {
  font-family: sans-serif;
  font-size: 18px;
  /* color: red; */
  page-break-inside: avoid;
}
.graph {
  height: 500px;
  width: 800px;
}
h1.tit {
  color: red;
}
.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}
.tit {
  /* background-color: #6813f1; */
  font-weight: bold;
  /* color: whitesmoke; */
}
.labels {
  font-size: 13px;
}
#title {
  background-color: red;
}
.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: red;
}

.data {
  fill: red;
  stroke-width: 1;
}
